<div style="position: relative;">



  <app-map #mapComp (stationClicked)="onMarkerClick($event)"></app-map>
  <!-- <app-map #map (stationClicked)="openModal($event)"></app-map> -->



  <app-forecast-dashboard></app-forecast-dashboard>



  <app-weather-modal
    *ngIf="weatherData"
    [name]="weatherData.name"
    [data]="weatherData"
    [ngClass]="'frosted-container'"
    [station]="picked"
    (closeModal)="closeModal()"
  >
  </app-weather-modal>



  <app-search-station-container
    (stationChosen)="onStationChosen($event)"
  >
    ></app-search-station-container>


</div>
